body {
  font-size: 100%;
  font-family: Arial;
}

button, input {
  font-size: 100%;
  font-family: Arial;
  color: #dddddd;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  background-color: blue;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color:greenyellow;
}

.wrapper {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
